body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 15px;
    color: #555;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

span {
    color: #e74c3c;
    display: block;
    margin-top: 5px;
}

button {
    background-color: #3498db;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

a {
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    color: #555;
}

.contorno {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f3f0f0;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

input[type="radio"] {
    margin-right: 5px;
}

/* Additional Styles for Radio Buttons */
input[type="radio"]:checked + label {
    color: #3498db;
}